SUBSYSTEM=="tty", ATTRS{product}=="LowPowerDisplayDongle", SYMLINK+="ttyDisplayDongle"
SUBSYSTEM=="tty", ATTRS{serial}=="D031AC204E0C", SYMLINK+="ttyDisplayDongle"
